@import "../styles/_vars.scss";
div.bubble {
  position: relative;
  width: calc(100% - 36px);
  margin: 9px 16px;
  background-color: $light;
  border: 2px solid #231f20;
  // border-radius: 20px;
  padding: 16px;
  &:before,
  &:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
  }

  &.speech:before {
    right: 0;
    top: 50%;
    border: 16px solid transparent;
    border-left-color: $black;

    border-right: 0;
    margin-top: -16px;
    margin-right: -16px;
  }

  &.speech:after {
    right: 0;
    top: 50%;
    border: 14px solid transparent;
    border-left-color: $light;
    border-right: 0;

    margin-top: -14px;
    margin-right: -14px;
  }
}

// div.speech:after {
//   right: 0;
//   top: 50%;
//   border: 20px solid transparent;
//   border-left-color: #fff;
//   border-right: 0;
//   margin-top: -20px;
// 	margin-right: -20px;
// }
