@import "../styles/_vars.scss";

.form {
  input {
    color: $black;
    background-color: $white;
    border-color: transparent;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    padding: 5px 8px;
    margin: 0px 0px;
    &:focus {
      border: 2px solid $black;
      box-shadow: none;
      outline: none;
    }
    &::placeholder {
      color: $gray;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

.formHeading {
  font-size: $font-size-xl;
  font-weight: 600;
  color: $white;
  padding-bottom: map-get($spacers, 3);
}