.logo {
  // opacity: .8;
  // &:hover {
  //   opacity: 1;
  // }
}

.header {
  height: 96px;
  transition: top 0.3s;
}

.btnAdd {
  display: flex;
}

.open {
  z-index: 200;
  color: #fff;
  transition: color .2s;
  &:hover {
    color: #231F20;
  }
}

.close {
  z-index: 200;
  color: #fff;
  transition: color .2s;
  &:hover {
    color: #231F20;
  }
}

button.bubble {
  position: relative;
  width: 340px;
  margin-top: 18px;
  margin-right: 9px;
  background-color: #fff;
  border: 2px solid #231F20;
  // border-radius: 20px;
  padding: 16px;
}

button.bubble:before,
button.bubble:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

button.speech:before {
  left: 74%;
  top: -30px;
  border: 30px solid transparent;
  border-bottom-color: #231F20;
  border-top: 0;
  border-right: 0;
}

button.speech:after {
  left: calc(74% + 2px);
  top: -26px;
  border: 26px solid transparent;
  border-bottom-color: #fff;
  border-top: 0;
  border-right: 0;
}

.overlayAddMeal {
  position: absolute;
  top: 0px;
  right: 0px;
}

.overlayAuth {
  position: absolute;
  top: 22%;
  // left: 25%;
  width: 50%;
  height: 50%;
  // max-width: 640px;
  // transform: translate(-50%, -50%) !important;
  @media (max-width: 768px) {
    left: -50%;
    width: 100%;
    height: 100%;
    top: 0%;
  }
}

.fulHack {
  position: absolute;
  width: 200px;
  height: 100px;
}