.logo {
  // opacity: .8;
  // &:hover {
  //   opacity: 1;
  // }
}

.header {
  height: 96px;
  transition: top 0.3s;
}

.btnAdd {
  display: flex;
}

.open {
  z-index: 200;
  color: #fff;
  transition: color .2s;
  &:hover {
    color: #231F20;
  }
}

.close {
  z-index: 200;
  color: #fff;
  transition: color .2s;
  &:hover {
    color: #231F20;
  }
}

button.bubble {
  position: relative;
  width: 340px;
  margin-top: 18px;
  margin-right: 9px;
  background-color: #fff;
  border: 2px solid #231F20;
  // border-radius: 20px;
  padding: 16px;
}

button.bubble:before,
button.bubble:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

button.speech:before {
  left: 74%;
  top: -30px;
  border: 30px solid transparent;
  border-bottom-color: #231F20;
  border-top: 0;
  border-right: 0;
}

button.speech:after {
  left: calc(74% + 2px);
  top: -26px;
  border: 26px solid transparent;
  border-bottom-color: #fff;
  border-top: 0;
  border-right: 0;
}
