.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  display: flex;
  justify-content: space-between;
  a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
}

.navToggle {
  cursor: pointer;
  @media (min-width: 768px) {
    display: none;
  }
}

.navbarCollapse {
  display: flex !important;
  flex-basis: 100%;
  flex-grow: 1;
  @media (min-width: 768px) {
    flex-basis: auto;
  }
  // &:not(.collapse) {
  //   display: none !important;
  // }
}

.collapse:not(.show) {
  display: none;
}

.navlist {
  display: flex;
  flex-direction: column;
  list-style: none;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}