@import "../../styles/_vars.scss";

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  li {
    @media (max-width: 576px) {
      &:nth-child(2) {
        display: none;
      }
      &:nth-last-child(2) {
        display: none;
      }
    }
  }
}

.pageItem {
  border-bottom: 2px solid transparent;
}

.disabled {
  .pageLink {
    color: $light-gray;
    &:hover {
      color: $gray;
      border-bottom: 2px solid transparent !important;
      background-color: transparent !important;
    }
  }
}

.active {
  .pageLink {
    color: $black;
    // background-color: $cyan;
    border-bottom: 2px solid $black;
  }
}

.pageLink {
  margin: 0 0.4rem;
  background-color: transparent;
  border: 0;
  color: $gray;
  transition: background-color 0.3s;
  border-bottom: 2px solid transparent;
  font-size: $font-size-lg;
  &:hover {
    color: $dark-gray;
    border-bottom: 2px solid $black;
  }
  &:hover:not(.active) {
    // color: $white;
    background-color: $light;
  }
  span {
    padding-top: 0.6rem;
  }
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-base;
    span {
      padding-top: 0.4rem;
    }
  }
}

.list {
  list-style: none;
  padding-left: 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding-top: $spacer;
  border-bottom: 1px solid $lighter-gray;
  p {
    line-height: $line-height-sm;
  }
  &:hover {
    border-bottom-color: $light-gray;
  }
}

.date {
  display: block;
  font-size: $font-size-sm;
  color: $gray;
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-xs;
  }
}

.breakfast,
.lunch,
.dinner {
  position: absolute;
  text-transform: uppercase;
  font-weight: 900;
  font-size: $font-size-sm;
  top: 12px;
  left: 50%;
  transform: translate(-50%);
}

.breakfast {
  color: $purple;
}
.dinner {
  color: $coral;
}
.lunch {
  color: $cyan;
}

.dropDown {
}

.dropdownMenu {
  list-style: none;
  padding-left: 0;
  display: flex;
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-xs;
    display: none;
  }
}

.dropdownItem {
  color: $gray;
}

.dropdownToggle {
  display: none;
  color: $gray;
  @media (max-width: map-get($grid-breakpoints, md)) {
    display: block;
  }
}

.btn {
  color: $gray;
}

.modal {
  position: absolute;
  top: 17.7%;
  max-width: 618px;
  width: 50%;
  left: 25%;
  background-color: $light;
  border: 2px solid $black;
  transition: all .3s;
  &:before,
  &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  }
  &:before {
    right: 0;
    top: 23.6%;
    border: 30px solid transparent;
    border-left-color: $black;
    border-top: 0;
    border-right: 0;
    margin-top: -10px;
    margin-right: -30px;
  }
  
  &:after {
    right: 0;
    top: calc(23.6% + 2px);
    border: 26px solid transparent;
    border-left-color: $light;
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -26px;
  }
}

.modalHeader {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0;
}

.modalTitle {
  margin-bottom: 0;
  line-height: 1.5;
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-sm;
  }
}

.modalBody {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modalFooter {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.btnClose {
  padding-right: 0;
}