@import "../node_modules/bootstrap/scss/functions"; // Required
$black: #231f20;
$white: #fff;
$silk: #fee4d1;
$red: #ff4d3c;
$green: #44D19D;
$sky: #77D7DB;
$purple: #956FDE;
$lilac: #C392FF;
$blue: #7292F7;
$cyan: #40B5E0;
$sand: #FF9F50;
$yellow: #FEDA3C;
$coral: #EF8187;

$lighter-gray: tint-color($black, 80%);
$light-gray: tint-color($black, 50%);
$gray: tint-color($black, 30%);
$dark-gray: tint-color($black, 10%);

$dark-purple: shade-color($purple, 40%);

$light-cyan: tint-color($cyan, 80%);

$light-blue: tint-color($blue, 60%);
$dark-blue: shade-color($blue, 60%);

$light-green: tint-color($green, 60%);
$dark-green: shade-color($green, 60%);

$light-red: tint-color($red, 60%);
$dark-red: shade-color($red, 60%);

$light-yellow: tint-color($yellow, 60%);
$dark-yellow: shade-color($yellow, 60%);

$meal: $coral;
$dish: $purple;
$legal: $sand;
$profile: $cyan;
$about: $sky;

$body-bg:                   $silk;
$body-color:                $black;
$body-text-align:           null !default;

$border-color:                $black;

$font-family-sans-serif: azo-sans-web, sans-serif;

$font-size-base:              1.6rem; // Assumes the browser default, typically `16px`
$font-size-xs:                $font-size-base * .75;
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;
$font-size-xl: $font-size-base * 2;
$font-size-xxl:             $font-size-base * 3;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$link-color:                              $dark-blue;
$link-decoration:                         underline !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
) !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// scss-docs-start zindex-stack
$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-offcanvas:                  1040 !default;
$zindex-modal-backdrop:             1050 !default;
$zindex-modal:                      1060 !default;
$zindex-popover:                    1070 !default;
$zindex-tooltip:                    1080 !default;
// scss-docs-end zindex-stack