html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
body {
  font-family: azo-sans-web, sans-serif;
  color: #231f20;
  background-color: #fee4d1;
  font-size: 2rem;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home {
  background-color: #ff4d3c;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.selected {
  background-color: red;
}

p::first-letter {
  text-transform: uppercase;
}