@import "_vars";

body, html {
  height: 100%
}

body {
  font-family: azo-sans-web, sans-serif;
  color: $black;
  background-color: $silk;
  font-size: 2rem;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button > * {
  pointer-events: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

::-moz-selection { /* Code for Firefox */
  color: $white;
  background: $darker-purple;
}

::selection {
  color:  $white;
  background: $darker-purple;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

.lead {
  font-size: 2.2rem;
}

.spinner-border {
  border: 0.15em solid currentColor;
  border-right-color: transparent;
}

.btn-icon {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 2rem;
}

.md-48 { font-size: 48px; }
.md-64 { font-size: 64px; }

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@mixin line-link($fg, $bg, $fs, $fw, $height) {
  font-size: $fs !important;
  font-weight: $fw;
  color: $fg;
  display: inline-block;
  &:hover {
    color: $fg;
  }
  &::after {
    opacity: .8;
    content: '';
    display: block;
    width: 0;
    height: $height;
    background: $bg;
    transition: all .2s;
  }
  &:hover::after {
    opacity: 1;
    width: 100%;
  }
}

.heroH1 {
  @include line-link( $white, $white, 8rem, 900, .8rem);
  @media (max-width: 768px) {
    @include line-link( $white, $white, 4rem, 900, .4rem);
  }
}

.heroH1-nolink {
  font-size: 8rem;
  font-weight: 900;
  color: $white;
  display: inline-block;
  @media (max-width: 768px) {
    font-size: 4rem;
  }
}

.link-meals {
  @include line-link($black, $meal, 2rem, 400, .28rem);
}
.link-dishes {
  @include line-link($black, $dish, 2rem, 400, .28rem);
}
.link-profile {
  @include line-link($black, $profile, 2rem, 400, .28rem);
}

.link-blue {
  @include line-link($darker-blue, $black, 2rem, 400, .28rem);
  &:hover {
    color: $black;
  }
}

.link-dark {
  @include line-link($black, $black, 2rem, 400, .28rem);
}

.link-header {
  @include line-link($darker-blue, $green, 2rem, 400, .28rem);
}

.link-legal {
  @include line-link($black, $legal, 1.2rem, 400, .14rem);
}

.text-small {
  font-size: 1.2rem;
}

.meal, .dish, .about, .profile {
  position: relative;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  .container {
    z-index: 10;
  }
}

.row-3 {
  height: 33.3333333%;
}

.row-6 {
  height: 66.666666%;
}

.pointer {
  cursor: pointer;
}

.bg-meal, .bg-dish, .bg-about, .bg-legal, .bg-profile {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bg-addmeal {
  background-color: $red;
}
.bg-meal {
  background-color: $meal;
}
.bg-dish {
  background-color: $dish;
}
.bg-about {
  background-color: $about;
}
.bg-legal {
  background-color: $legal;
}
.bg-profile {
  background-color: $profile;
}

.bg-auth {
  background-color: $green;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
}

.btn {
  text-transform: uppercase;
  font-size: 2rem;
  transition: all .3s;
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@mixin btn-outline($fg, $bg) {
  position: relative;
  z-index: 1;
  border: 2px solid $fg;
  border-radius: 0;
  transition: all .3s;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: $bg;
    transition: all .3s;
    z-index: -1;
  }
  &:focus {
    border: 2px solid $black;
  }   
  &:hover {
    color: $fg;
    border: 2px solid $bg;
    &:after {
      width: 100%;
    }
  }
}

.btn-clear {
  @include btn-outline($white, $sand)
}

.btn-create {
  @include btn-outline($white, $green)
}

.btn-auth {
  @include btn-outline($white, $profile)
}

.btn-register {
  
}

.fixed-bottom {
  z-index: 1010;
}

.content {
  padding-top: 64px;
}

.page-header {
  position: relative;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  height: 256px;
  overflow: hidden;
  .container {
    z-index: 10;
  }
}

.page-heading {
  padding-top: 3rem;
  font-size: 5rem;
  font-weight: 600;
  color: $white;
  @media (max-width: 768px) {
    font-size: 4rem;
  }
}


.form {
  input {
    color: $black;
    background-color: $white;
    border-color: $white;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    padding: 5px 8px;
    margin: 0px 0px;
    &:focus {
      border: 2px solid $black;
      box-shadow: none;
      outline: none;
    }
    &::placeholder {
      color: $gray;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  input {
    color: $black;
    background-color: $white;
    border-color: $white;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    padding: 5px 8px;
    margin: 0px 0px;
    &:focus {
      border: 2px solid $black;
      box-shadow: none;
      outline: none;
    }
    &::placeholder {
      color: $gray;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

.css-1wa3eu0-placeholder {
  white-space: nowrap;
}

$datepicker__background-color: #f0f0f0 !default;
$datepicker__border-color: #A19FA0;
$datepicker__highlighted-color: #44D19D;
$datepicker__muted-color: #ccc !default;
$datepicker__selected-color: #40B5E0;
$datepicker__text-color: #231F20;
$datepicker__header-color: #231F20;
$datepicker__navigation-disabled-color: lighten($datepicker__muted-color, 10%)
  !default;

$datepicker__border-radius: 0;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 1.4rem;
$datepicker__font-family:  azo-sans-web, sans-serif;
$datepicker__item-size: 3rem;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-size: 0.45rem !default;
$datepicker__triangle-size: 8px !default;

@import '../node_modules/react-datepicker/src/stylesheets/datepicker.scss'