@import "_vars";

body, html {
  height: 100%
}

body {
  font-family: $font-family-sans-serif;
  color: $black;
  background-color: $silk;
  font-size: $font-size-base;
  line-height: $line-height-base;
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-sm;
  }
}

h1, .h1 {
  font-size: $font-size-xl;
  font-weight: 700;
}
h2, .h2 {
  font-size: $font-size-lg;
  font-weight: 500;
}
h3, .h3 {
  font-size: $font-size-base;
  font-weight: 500;
}

.py-6 {
  padding: map-get($spacers, 6) 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button > * {
  pointer-events: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

::-moz-selection {
  color: $white;
  background: $dark-purple;
}

::selection {
  color:  $white;
  background: $dark-purple;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

.lead {
  font-size: $font-size-lg;
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-base;
  }
}

.spinner-border {
  border: 0.15em solid currentColor;
  border-right-color: transparent;
}

.btn-icon {
  background-color: transparent;
  border: 0;
}

.material-icons-round {
  font-size: $font-size-base;
}
.md-48 { font-size: $font-size-lg }
.md-64 { font-size: $font-size-xl; }

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// 1000 / 1.618 = 618
// 38.2%
// 61.8%

// 38.19
// 23.61

.row-top {
  height: 30.9%;
}
.row-middle {
  height: 30.9%;
}
.row-bottom {
  height: 38.2%;
}
.row-4 {
  height: 33.333333%;
}

.row-calc {
  min-height: calc(100vh / 1.618 / 1.618 / 1.618);
}

.row-calc-bottom {
  min-height: calc(100vh / 1.618 / 1.618);
}

@mixin line-link($fg, $fgh, $bg, $fs, $fw, $height) {
  font-size: $fs !important;
  font-weight: $fw;
  color: $fg;
  display: inline-block;
  &:hover {
    color: $fgh;
  }
  &::after {
    opacity: .8;
    content: '';
    display: block;
    width: 0;
    height: $height;
    background: $bg;
    transition: all .2s;
  }
  &:hover::after {
    opacity: 1;
    width: 100%;
  }
}

.hero-h1 {
  @include line-link( $white, $white, $white, $font-size-xxl, 900, $font-size-xxl / 10);
  @media (max-width: map-get($grid-breakpoints, md)) {
    @include line-link( $white, $white, $white, $font-size-xl, 900, $font-size-xl / 10);
  }
}

.hero-h1-nolink {
  font-size: $font-size-xxl;
  font-weight: 900;
  color: $white;
  display: inline-block;
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-xl;
  }
}

.pt-6 {
  padding-top: map-get($spacers, 6);
}

.pb-6 {
  padding-bottom: map-get($spacers, 6);
}

.link-meals {
  @include line-link($black, $black, $meal, $font-size-lg, 400, $font-size-lg / 10);
}
.link-dishes {
  @include line-link($black, $black, $dish, $font-size-lg, 400, $font-size-lg / 10);
}
.link-profile {
  @include line-link($black, $black, $profile, $font-size-lg , 400, $font-size-lg / 10);
}

.link-blue {
  @include line-link($dark-blue, $black, $black, $font-size-lg, 400, $font-size-lg / 10);
  @media (max-width: map-get($grid-breakpoints, md)) {
    @include line-link($dark-blue, $black, $black, $font-size-sm, 400, $font-size-sm / 10);
  }
  &:hover {
    color: $black;
  }
}

.link-dark {
  @include line-link($black, $black, $black, $font-size-lg, 400, $font-size-lg / 10);
  @media (max-width: map-get($grid-breakpoints, md)) {
    @include line-link($black, $black, $black, $font-size-base, 400, $font-size-base / 10);
  }
}

.link-header {
  @include line-link($dark-blue, $dark-blue, $green, $font-size-lg, 400, $font-size-lg / 10);
  @media (max-width: map-get($grid-breakpoints, md)) {
    @include line-link($dark-blue, $dark-blue, $green, $font-size-base, 400, $font-size-base / 10);
  }
}

.link-lang {
  @include line-link($black, $black, $black, $font-size-sm, 400, $font-size-sm / 10);
  &.active {
    font-weight: 500;
  }
}

.link-legal {
  @include line-link($black, $black, $legal, $font-size-base, 400, $font-size-base / 10);
}

.link-footer {
  @include line-link($light-gray, $white, $light-gray, $font-size-base, 400, $font-size-base / 10);
  &:is(.active) {
    font-weight: 500;
  }
  &:hover:is(.active)  {
    color: $light-gray;
  }
  &:hover:is(.active)::after {
    width: 0;
  }
}

.text-small {
  font-size: $font-size-base;
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-sm;
  }
}

.meal, .dish, .about, .profile {
  position: relative;
  padding: map-get($spacers, 4) 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  @media (max-width: map-get($grid-breakpoints, md)) {
    padding: map-get($spacers, 1) 0;
  }
}

.pointer {
  cursor: pointer;
}

.bg-addmeal {
  background-color: $red;
}
.bg-meal {
  background-color: $meal;
}
.bg-dish {
  background-color: $dish;
}
.bg-about {
  background-color: $about;
}
.bg-legal {
  background-color: $legal;
}
.bg-profile {
  background-color: $profile;
}
.bg-auth {
  background-color: $green;
}
.footer {
  background-color: $black;
  color: $white;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
}

.btn {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: $font-size-lg;
  transition: all .3s;
  font-weight: 500;
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-base;
  }
}

@mixin btn-outline($text, $fg, $bg) {
  color: $text;
  position: relative;
  border: 2px solid $fg;
  border-radius: 0;
  transition: all .3s;
  padding: 5px 0;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: $bg;
    transition: all .3s;
    z-index: -1;
  }
  &:focus {
    border: 2px solid $black;
  }   
  &:hover {
    color: $fg;
    border: 2px solid $black;
    &:after {
      width: 100%;
    }
  }
}

.invalid {
  border-color: $red !important;
}

.btn-clear {
  @include btn-outline($black, $white, $sand)
}

.btn-consent {
  @include btn-outline($white, $white, $green)
}

.btn-create {
  @include btn-outline($black, $white, $green)
}

.btn-auth {
  @include btn-outline($black, $white, $profile)
}

// .fixed-bottom, .fixed-top {
//   z-index: 700;
// }

// .content {
//   padding-top: map-get($spacers, 5);
//   @media (max-width: map-get($grid-breakpoints, md)) {
//     padding-top: map-get($spacers, 4);
//   }
// }

.page-header {
  // position: absolute;
  // top: 0;
  padding: $spacer 0;
  display: flex;
  align-items: center;
  height: 256px;
  overflow: hidden;
  @media (max-width: map-get($grid-breakpoints, md)) {
    height: 192px;
  }
}

.page-heading {
  padding-top: map-get($spacers, 5);
  font-size: $font-size-xxl;
  font-weight: 700;
  color: $white;
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-xl;
  }
}


.form {
  input {
    color: $black;
    background-color: $white;
    border-color: $white;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    padding: 5px 8px;
    margin: 0px 0px;
    &:focus {
      border: 2px solid $black;
      box-shadow: none;
      outline: none;
    }
    &::placeholder {
      color: $gray;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  input {
    color: $black;
    background-color: $white;
    border-color: $white;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    padding: 5px 8px;
    margin: 0px 0px;
    &:focus {
      border: 2px solid $black;
      box-shadow: none;
      outline: none;
    }
    &::placeholder {
      color: $gray;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

.alert-success {
  color: $dark-green;
  background-color: $light-green !important;
  &::after {
    border-left-color: $light-green !important;
  }
}

.alert-warning {
  color: $dark-yellow;
  background-color: $light-yellow !important;
  &::after {
    border-left-color: $light-yellow !important;
  }
}

.alert-error {
  color: $dark-red;
  background-color: $light-red !important;
  &::after {
    border-left-color: $light-red !important;
  }
}

.alert-info {
  color: $dark-blue;
  background-color: $light-blue !important;
  &::after {
    border-left-color: $light-blue !important;
  }
}

.css-1wa3eu0-placeholder {
  white-space: nowrap;
}

.react-toast-notifications__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: $zindex-tooltip !important;
  @media (min-width: map-get($grid-breakpoints, md)) {
    width: 50%;
  }
}

$datepicker__background-color: $light-cyan;
$datepicker__border-color: $white;
$datepicker__highlighted-color: $green;
$datepicker__muted-color: $gray;
$datepicker__selected-color: $cyan;
$datepicker__text-color: $black;
$datepicker__header-color: $black;
$datepicker__navigation-disabled-color: lighten($datepicker__muted-color, 10%)
  !default;

$datepicker__border-radius: 0;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 1.2rem;
$datepicker__font-family:  azo-sans-web, sans-serif;
$datepicker__item-size: 2.2rem;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-size: 0.5rem !default;
$datepicker__triangle-size: 8px !default;

@import '../node_modules/react-datepicker/src/stylesheets/datepicker.scss'