body {
  font-family: azo-sans-web, sans-serif;
  color: #231f20;
  background-color: #fee4d1;
  font-size: 2rem;
  line-height: 1.5;
}

.home {
  background-color: #ff4d3c;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.selected {
  background-color: red;
}

/* p::first-letter {
  text-transform: uppercase;
} */

.btn-icon {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 2rem;
}

.md-48 { font-size: 48px; }